<app-header></app-header>
<app-articlepath />
<app-add-article/>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div>
<p>app.component affichra LIVE SHOPING avec le ceour battant</p>
<p>app.component affichra un bouton aide</p>
</div>
<div>gerer les avis</div>
<div>
<ul>
<li><a href="https://www.laboutiqueducoiffeur.com/" target="_blank">https://www.laboutiqueducoiffeur.com/</a></li>
<li><a href="https://www.nails.fr/" target="_blank">https://www.nails.fr/</a></li>
<li><a href="https://www.nailartboutique.fr/" target="_blank">https://www.nailartboutique.fr/</a></li>
<li><a href="https://ongle24.com/checkouts/" target="_blank">https://ongle24.com/checkouts/</a></li>
<li><a href="https://www.beautynails.com/5709-serum-mains-ongles-et-cuticules-8-ml-vegan.html" target="_blank">https://www.beautynails.com/5709-serum-mains-ongles-et-cuticules-8-ml-vegan.html</a></li>
<li><a href="https://www.indigonails.fr/" target="_blank">https://www.indigonails.fr/</a></li>
<li><a href="https://www.creaongles-distribution.com/fr/" target="_blank">https://www.creaongles-distribution.com/fr/</a></li>
</ul>
</div>