<div class="container  flex justify-center items-center">
  <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0 items-center">
    <div>
      <label for="store" class="block text-sm font-medium text-gray-700">Store:</label>
      <select id="store" [(ngModel)]="selectedStoreId" class="border mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
      </select>
    </div>

    <div>
      <label for="category" class="block text-sm font-medium text-gray-700">Category:</label>
      <select id="category" [(ngModel)]="selectedCategoryId" class="border mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <div>
      <label for="classe" class="block text-sm font-medium text-gray-700">Classe:</label>
      <select id="classe" [(ngModel)]="selectedClasseId" class="border mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.name }}</option>
      </select>
    </div>

    <div>
      <label for="subclasse" class="block text-sm font-medium text-gray-700">Subclasse:</label>
      <select id="subclasse" [(ngModel)]="selectedSubclasseId" class="border mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option *ngFor="let subclasse of subclasses" [value]="subclasse.id">{{ subclasse.name }}</option>
      </select>
    </div>

    <div>
      <label for="code" class="block text-sm font-medium text-gray-700">Code:</label>
      <select id="code" [(ngModel)]="selectedCodeId" class="border mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option *ngFor="let code of codes" [value]="code.id">{{ code.name }}</option>
      </select>
    </div>
  </div>

  <button class="btn m-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="generatePath()">Generate Path</button>
</div>
  <p class="mt-4 text-gray-700">Generated Path: {{ generatedPath }}</p>

